<!DOCTYPE html>
<html>
    <head>
        <div class="d-flex align-items-center justify-content-center" style="margin-top:2%">
            <h1>My Recipe Book</h1>
        </div>
    </head>
    <body>
        <div class="image_row">
            <div class="image_col">
                <%= image_tag("home/breakfast.jpeg", width: '100%')%>
            </div>
            <div class="image_col">
                <%= image_tag("home/dinner.jpg", width: '100%')%>
            </div>
            <div class="image_col">
                <%= image_tag("home/dessert.jpg", width: '100%')%>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <p class="para1">You can save and customize your favorite recipes using our web application, which includes a variety of food categories.</p>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <p class="para2">Create your recipe book with us now!</p>
        </div>
    </body>
</html>