
h2{
    text-align: center;
}

.form-group{
    margin-left: 35%;
    width: 30%;
    padding-bottom: 20px;
}

.actions{
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 47.5%;
}

.links{
    text-align: center;
}

.field{
    text-align: center;
}

.del_btn{
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 46%;

}
